{%  extends 'base.html.twig' %}

{% block body %}
    <header class="border-b my-8">
        <h1 class="text-4xl text-center pb-6">Tasks ({{ tasks|length }})</h1>
    </header>
    <div class="m-auto max-w-4xl">
        <ul class="test-tasks">
            {% for task in tasks %}
                <li class="task text-lg p-2 border-b border-gray-400 hover:bg-gray-100">
                    <form method="POST" action="/task/{{ task.id }}" class="flex">
                        <input type="hidden" name="_method" value="PATCH">
                        <input class="task--input test-tasks__title self-center w-full" type="text" name="title" value="{{ task.title }}">
{#                        <input class="self-center" type="checkbox" name="completed" value="y" onChange="this.form.submit();">#}
                    </form>
                </li>
            {% endfor %}
            <li class="text-lg p-2 flex border-b border-gray-400">
                <form method="POST" action="/" class="w-full">
                    <input class="w-full" type="text" name="title" value="" placeholder="Add a task...">
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
